@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family:'poppins',sans-serif;
    background-color: rgb(159, 244, 159);
    color:black;
    background-image: url(images/gray-abstract-wireframe-technology-background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
   
    
    
}

/*navigation section*/

.navigation{
    height:5vh;
    margin-top:10vh;
 
 }

.portfolio-logo{
    display:flex;
    width:auto;
    height:25vh;
    margin-left: 80px;
}



nav{
    display:flex;
    align-items:center; /*vertically center the logo and links*/
    justify-content:space-between; /*push logo to the left and links to the right*/
}

.navigation-links ul{
    list-style:none; /*you will not see underline under links*/
    display:flex;
    margin-right: 5vw;
    font-size: 1.5em;
    font-family:'poppins',sans-serif;
}

.navigation-links li{
    margin-right:20px;
}

.box{
    transition: 0.3s ;
}

li:hover{
    text-decoration: underline;
    color:crimson;
}

/*hero section*/

.hero-section{
    margin-top:10vh;
    margin-left:10vw;
}

